Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
HeaderFilterRegex: '*.hpp$'
WarningsAsErrors: '*'
